{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Malicious URL </title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- Meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="CodedThemes">
      <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
      <meta name="author" content="CodedThemes">
      <!-- Favicon icon -->
      <link rel="icon" href="{% static 'admin/assets/images/favicon.ico' %}" type="image/x-icon">
      <!-- Google font-->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <!-- Required Fremwork -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/bootstrap/css/bootstrap.min.css' %}">
      <!-- themify-icons line icon -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/icon/themify-icons/themify-icons.css' %}">
      <!-- ico font -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/icon/icofont/css/icofont.css' %}">
      <!-- Style.css -->
      <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'admin/assets/css/jquery.mCustomScrollbar.css' %}">
  </head>
  <body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">

                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="{% url 'admin_index' %}">
                            
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">
                          
                            <li class="user-profile header-notification">
                                <a href="#!">
                                    <img src="{% static 'admin/assets/images/avatar-4.jpg' %}" class="img-radius" alt="User-Profile-Image">
                                    <span>Admin</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                   
                                    <li>
                                        <a href="{% url 'main_index' %}">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">

                            <div class="pcoded-search">
                                <span class="searchbar-toggle"> </span>

                            </div>
                            <!-- <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation">Layout</div> -->
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="{% url 'admin_index' %}">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.basic-components.main">User
                                            Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'pending_users' %}">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Pending users</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'all_users' %}">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">All users</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Data
                                            Management</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'admin_add_data' %}">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Add
                                                    DataFile</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Graph
                                            Analysis</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="{% url 'admin_graph_analysis' %}">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Algo
                                                    Comparison Graph</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>



                                    </ul>
                                </li>
                            </ul>


                        </div>
                    </nav>
                </div>
            <div class="container mt-5">
                    <section class="vh-200 mt-5">
                        <div class="container-fluid h-custom">
                          <div class="row d-flex justify-content-center align-items-center h-120">
                            <div class="col-md-9 col-lg-6 col-xl-5">
                              <img src="{% static 'admin/assets/images/data.jpeg' %}" alt=""
                                class="img-fluid" alt="Sample image">
                            </div>
                            
                            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                            
                               
                              <!-- <form action="#" method="POST" enctype="multipart/form-data" class="search-destination" onsubmit='return loginvalidation();' name='myform'> -->
                               
                                <form method="POST" action=""  enctype="multipart/form-data">
                                  {% csrf_token %}
                                  
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3">Upload Datafile</label>
                                  <input type="file" name="dataset" id="form3Example3" class="form-control form-control-lg"
                                     />
                                 
                                </div>
                                <div class="text-center text-lg-start mt-4 pt-2">
                                  <button type="Submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Upload</button>
                                 
                                </div>
                      
                              </form>
                            </div>
                          </div>
                        </div>
                      
                      </section>
                    </div>
                  
                 
                   
                    </div>
                </div>
                
                
            </div>
        </div>
       

 
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'admin/assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'admin/assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'admin/assets/js/modernizr/modernizr.js' %}"></script>
<!-- am chart -->
<script src="{% static 'admin/assets/pages/widget/amchart/amcharts.min.js' %}"></script>
<script src="{% static 'admin/assets/pages/widget/amchart/serial.min.js' %}"></script>
<!-- Todo js -->
<script type="text/javascript " src="{% static 'admin/assets/pages/todo/todo.js' %} "></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'admin/assets/pages/dashboard/custom-dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/assets/js/script.js' %}"></script>
<script type="text/javascript " src="{% static 'admin/assets/js/SmoothScroll.js' %}"></script>
<script src="{% static 'admin/assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'admin/assets/js/demo-12.js' %}"></script>
<script src="{% static 'admin/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script>

var $window = $(window);
var nav = $('.fixed-button');
    $window.scroll(function(){
        if ($window.scrollTop() >= 200) {
         nav.addClass('active');
     }
     else {
         nav.removeClass('active');
     }
 });
</script>
</body>

</html>
